{{extend 'themes/%s/layout.html' % response.theme}}

<!-- original code from http://www.google.be/search?sourceid=chrome&ie=UTF-8&q=host2py -->
<h1>- {{=T('Files')}}</h1>
<p class="text-alignc">{{=T('To view/play if corresponding plugin available, click on file name.')}}</p>
<table class="width100pc margt5pc bordert-dashed">
{{for file in files:}}
   <tr>
    <td><a target="_blank" class="text-decoration-none font-s09em" href="{{=URL(r=request,c='default',f='file',args=[file.filename])}}">{{=file.filename}}</a></td>
    <td class="meta"><a onclick="location.href='?ren={{=file.id}}&new='+prompt('{{=T('New Filename')}}')">{{=T('rename')}}</a> | <a href="?del={{=file.id}}">{{=T('delete')}}</a></td>
   </tr>
{{pass}}
</table>

<div class="meta text-alignr padr2pc bordert-dashed">
{{=XML(T('<a href="%(url)s">Upload files</a>', dict(url=URL(r=request,c='default',f='upload'))))}}
</div>
