<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
  <head>
    <title>{{=response.title or request.application}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="{{=response.keywords}}" />
    <meta name="description" content="{{=response.description}}" />
    <meta name="google-site-verification" content="2TmmFn8eNL7GNZuDtORTZ89uxj5fmTtuwqQLqv8webc" /><!-- old: r0Pfq2q9SK7Pk9gkh1NnbsV28-mQoD8LoIGOeUhfer8 -->
    <!-- include required CSS files, further most first -->
    <!-- include requires CSS files
    {{response.files.append(URL(request.application,'static','jquery-ui-1.8.2.custom/jquery-ui-1.8.2.custom.css'))}}
    -->
    <link rel="stylesheet" href="/{{=this_app}}/static/css/_base.css" type="text/css" media="screen" />
        <!-- -VIEWS/THEMES/CMS/LAYOUT.HTML  -->
        <!-- THEME: {{=response.theme}} -->
        <!-- CHILD THEME: {{if response.child_theme:}}{{=response.child_theme}}{{else:}}None{{pass}} -->
        <!-- THEME STYLESHEET: {{if response.theme_stylesheet:}}{{=response.theme_theme_stylesheet}}{{else:}}None{{pass}} -->
      <link rel="stylesheet" href="/{{=this_app}}/static/css/themes/{{=response.theme}}/base.css" type="text/css" media="screen" />
    {{if response.child_theme and response.theme_stylesheet:}}
        <link rel="stylesheet" href="{{=response.theme_stylesheet}}" media="screen" />
    {{pass}}
    <link rel="stylesheet" href="/{{=this_app}}/static/css/themes/{{=response.theme}}/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/{{=this_app}}/static/components/markitup/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/{{=this_app}}/static/components/markitup/sets/default/style.css" type="text/css" media="screen" />
    <!-- include requires CSS files
    {{
      ## TODO: why is this not working?
      response.files.append(URL(request.application,'static','style.css'))
    }}
    -->
    {{include 'web2py_ajax.html'}}
    <script type="text/javascript">
      <!-- /* this adds sfhover class to menu li items to make IE6 work */ jQuery(document).ready(function(){jQuery('li.web2py-menu-expand').hover(function ()     {jQuery(this).addClass('sfhover');},function () {jQuery(this).removeClass('sfhover');});});//-->
    </script>
    <script type="text/javascript">
      var server={
          request : {
              application : '{{=this_app}}'
          },
          pages : []
      };
    </script>
    <script type="text/javascript" src="/{{=this_app}}/static/components/net.molhokwai/molhokwai.common.js"></script>
    <script type="text/javascript" src="/{{=this_app}}/static/components/net.molhokwai/molhokwai.util.js"></script>
    <script type="text/javascript" src="/{{=this_app}}/static/components/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/{{=this_app}}/static/components/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/{{=this_app}}/static/custom/script.js"></script>
    <script type="text/javascript" src="/{{=this_app}}/static/components/jquery/add-ons.js"></script>
    <script type="text/javascript">
        if ({{=str(refresh_page).lower()}}){
            window.location.reload();
        }
    </script>    
  </head>
  <body>
     <div id="top-bar">
        <span id="logo" class="left">
          <a class="text-decoration-none">LOGO</a>
          <!--href="/welcome/default/roadmap"-->
        </span>
        <!-- end #logo -->

        <div id="cli_web" class="right">
          <form action="/lcs/cli_web/_do" method="post" onsubmit="return on_cli_web_submit();">
              <label>search</label><input type="text" id="_cmd" name="_cmd" />
              {{if session.cli_web_flash:}}<font class="flash small">{{=XML(session.cli_web_flash)}}{{ session.cli_web_flash=False }}</font>{{pass}}
          </form>
        </div>
        <!-- end #cli_web -->
        
        <div id="menu-tabs" class="right">
          {{if response.menu:}}
                  <ul>
                      {{for _name,_active,_link in response.menu:}}
                          <li><a href="{{=_link}}" {{if not _active:}}class="inactive"{{pass}}>{{=T(_name)}}</a></li>
                      {{pass}}
                  </ul>
          {{pass}}
        </div>
        <!-- end #menu-tabs -->

    </div>
    <!-- end #top-bar-->

    <div class="clear"></div>
    
    <div id="wrapper">

        <span id="user-menu" class="right">
          {{ if 'auth' in globals():}}
            {{if not auth.user:}} 
              <a>|</a> {{=A(T('login'),_href=URL(r=request,c='default',f='user/login'))}}
            {{else:}}
              {{=auth.user.display_name}} 
              {{=A(T('logout'),_href=URL(r=request,c='default',f='user/logout'))}} |
            {{pass}}
          {{pass}}
        </span> 
        <!-- end #user-menu -->

        <div class="clear"></div>

        <div id="container">

          <div id="content">

            <div class="left">              
                {{if response.flash:}}
                    <div id="flash">{{=XML(response.flash)}}</div>
                {{pass}}
            
                {{include}}
            </div>

            <div class="left">&nbsp;</div>
            
            <div class="right">              
            </div>

          </div>
          <!-- end #content -->

          <div class="clear"></div>

          <div id="footer">
              <div class="left">
                  <a 
                title='{{=XML(T("Copyright herve.mayou"))}}'>
                    &copy;Copyright</a>
                    herve.mayou, 2011 - a <a target="_blank" href="http://www.web2py.org">web2py<a> powered blog/site engine based on PyPress, 
                      running on <a target="_blank" href="http://code.google.com/appengine">google app engine<a> 
                     | <a href="/{{=this_app}}/default/page/about_us">about us(me)</a>
              </div>
              
              <div class="right">
                  {{=XML(' / '.join(   map(
                                      lambda p_h_l: ':'.join( 
                                              map(lambda x: A(T(x.replace('_', ' ')), _href="/%s/default/page/%s" % (this_app, x)).xml(), p_h_l)  
                                      ) ,session.nav_history)
                                ))}}
              </div>
              
              <div class="clear"></div>

              <div class="center"></div>
          </div>
          <!-- end #footer -->

        </div>
        <!-- end #container -->

    </div>
    <!-- end #wrapper -->

    <script type="text/javascript" id="tracking_src">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript" id="tracking_process">
        try {
            var pageTracker = _gat._getTracker("UA-5101967-1");
            pageTracker._initData();
            pageTracker._trackPageview();
        }
        catch(e) {
            if (console) try{console.log(e);}catch(e){}
        }
    </script>
    <!-- end #tracking -->

  </body>
</html>
