<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
    <head>
        <title>{{=response.title or request.application}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="{{=response.keywords}}" />
        <meta name="description" content="{{=response.description}}" />
        <meta name="google-site-verification" content="2TmmFn8eNL7GNZuDtORTZ89uxj5fmTtuwqQLqv8webc" /><!-- old: r0Pfq2q9SK7Pk9gkh1NnbsV28-mQoD8LoIGOeUhfer8 -->
        <!-- include required CSS files, further most first -->
        <!-- include requires CSS files
        {{response.files.append(URL(request.application,'static','jquery-ui-1.8.2.custom/jquery-ui-1.8.2.custom.css'))}}
        -->
        {{style_base_url = '/%s/static/css/themes/%s' % (this_app, response.theme)}}
        <link rel="stylesheet" href="/{{=this_app}}/static/css/_base.css" type="text/css" media="screen" />
        <!-- -VIEWS/THEMES/CMS/LAYOUT.HTML  -->
        <!-- THEME: {{=response.theme}} -->
        <!-- CHILD THEME: {{if response.child_theme:}}{{=response.child_theme}}{{else:}}None{{pass}} -->
        <!-- THEME STYLESHEET: {{if response.theme_stylesheet:}}{{=response.theme_theme_stylesheet}}{{else:}}None{{pass}} -->
        <link rel="stylesheet" href="{{=style_base_url}}/base.css" type="text/css" media="screen" />
        <!--[if IE 6]>
            <link rel="stylesheet" href="{{=style_base_url}}/iecss.css" type="text/css" media="screen" />
        <![endif]-->
        {{if response.child_theme and response.theme_stylesheet:}}
            <link rel="stylesheet" href="{{=response.theme_stylesheet}}" media="screen" />
        {{pass}}
        <link rel="stylesheet" href="{{=style_base_url}}/style.css" type="text/css" media="screen" />
        <!-- include requires CSS files
        {{
          ## TODO: why is this not working?
          response.files.append(URL(request.application,'static','style.css'))
        }}
        -->
        {{include 'web2py_ajax.html'}}
        <script type="text/javascript">
          <!-- /* this adds sfhover class to menu li items to make IE6 work */ jQuery(document).ready(function(){jQuery('li.web2py-menu-expand').hover(function ()     {jQuery(this).addClass('sfhover');},function () {jQuery(this).removeClass('sfhover');});});//-->
        </script>
        <script type="text/javascript">
          var server={
              request : {
                  application : '{{=this_app}}'
              },
              pages : []
          };
        </script>
        <script type="text/javascript" src="/{{=this_app}}/static/components/jquery/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/{{=this_app}}/static/components/jquery/wymeditor/jquery.wymeditor.min.js"></script>
        <script type="text/javascript" src="/{{=this_app}}/static/custom/script.js"></script>
        <script type="text/javascript" src="/{{=this_app}}/static/components/jquery/add-ons.js"></script>
        <script type="text/javascript">
            if ({{=str(refresh_page).lower()}}){
                window.location.reload();
            }
            
            $(document).ready(function(){
                entities.display._do();
            });
        </script>
    </head>
    <body>
        <div id="main_container">
        
            <div id="header">
                <div id="logo"><a href="{{=URL(r=request, c='aisca', f='index')}}"><img src="{{=style_base_url}}/images/logo.png" alt="" width="66" height="88" title="" border="0" /></a></div>
                <div id="menu">
                    {{if response.menu:}}
                        <ul>
                            {{for _name,_active,_link in response.menu:}}
                                 <li><a href="{{=_link}}" {{if _active:}}class="current"{{pass}}>{{=T(_name)}}</a></li>
                                 <li class="divider"></li>
                            {{pass}}
                        </ul>
                    {{pass}}

                    <div class="search_box">
                        {{if auth.user:}}   
                            <input type="text" id="search" name="search" class="search" value="search"/>
                            <input type="image" src="{{=style_base_url}}/images/go.gif" class="search_bt" 
                                onclick="liveSearch.getData('{{=URL(r=request,c='data',f='entity',args=['search.html'])}}', $('#search').val())"/>
                        {{pass}}    
                    </div>
                </div>
                <!-- end #menu -->
                
            </div>
            <!-- end #header -->
        
            <div id="main_content">
                <div id="user-menu" class="right">
                     {{ if 'auth' in globals():}}
                       {{if not auth.user:}}
                         {{=A(T('login'),_href=URL(r=request,c='default',f='user/login'))}}
                       {{else:}}
                         <!-- {{=auth.user.display_name}} -->
                         {{=A(T('logout'),_href=URL(r=request,c='default',f='user/logout'))}} 
                       {{pass}}
                     {{pass}}
                </div>
                <!-- end #user-menu -->
            
                {{include}}
            </div>
            <!--end #main_content -->           
        
            <div id="footer">
                <div class="copyright">
                    &copy;Copyright Hervé Mayou, 2011 . All Rights Reserved
                </div>
        
                <div class="footer_links width45pc">
                    {{if auth.user:}}
                        {{try:}}
                        {{=XML(' / '.join(   map(
                                      lambda p_h_l: ':'.join( 
                                              map(lambda x: A(T(x).replace('_', ' '), _href="%s" % (x)).xml(), p_h_l)  
                                      ) ,session.nav_history)
                                ))}}
                        {{except Exception, ex:}}
                        {{app_objects.log_wrapped('Err in aisca/layout.html', ex)}}
                        {{pass}}
                    {{pass}}
                </div>
        
                <div class="footer_logo">
                    <img src="{{=style_base_url}}/images/footer_logo.png" alt="" title="" width="32" height="30"/>
                </div>
            </div>
            <!-- end #footer -->             
        </div>
        <!-- end #main_container -->
        
        <script type="text/javascript" id="tracking_src">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript" id="tracking_process">
            try {
                var pageTracker = _gat._getTracker("UA-5101967-1");
                pageTracker._initData();
                pageTracker._trackPageview();
            }
            catch(e) {
                if (console) try{console.log(e);}catch(e){}
            }
        </script>
        <!-- end #tracking -->
    </body>    
</html>
