<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head profile="http://gmpg.org/xfn/11">

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="{{=response.keywords}}" />
        <meta name="description" content="{{=response.description}}" />
        
        <title>{{if response.title:}}{{=response.title}}{{else:}}{{=URL(r=request)}}{{pass}}</title>

        <link rel="stylesheet" href="/{{=this_app}}/static/css/themes/{{=response.theme}}/base.css" type="text/css" media="screen" />
        {{if response.child_theme and response.theme_stylesheet:}}
            <link rel="stylesheet" href="{{=response.theme_stylesheet}}" media="screen" />
        {{pass}}
        <link rel="stylesheet" href="/{{=this_app}}/static/components/markitup/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/{{=this_app}}/static/components/markitup/sets/default/style.css" type="text/css" media="screen" />
    
        <style type="text/css" media="screen">
            #page { background: url("/{{=request.application}}/static/images/themes/{{=response.theme}}/bg-ltr.jpg") repeat-y top; border: none; }
            #flash { 
                width: 450px; 
                margin: 0 auto; 
                text-align: center; 
                clear: both; 
                border: 1px #000000; 
                background-color: #6cade3; 
                color: white; 
                padding-top: 1.0em; 
                padding-bottom: 1.0em;
                margin-top: 20px; 
            }
        </style>
        
        {{include 'web2py_ajax.html'}}

        <script type="text/javascript">
          var server={
              request : {
                  application : '{{=this_app}}'
              },
              pages : []
          };
        </script>
        <script type="text/javascript" src="/{{=this_app}}/static/components/net.molhokwai/molhokwai.common.js"></script>
        <script type="text/javascript" src="/{{=this_app}}/static/components/jquery/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/{{=this_app}}/static/components/markitup/jquery.markitup.js"></script>
        <script type="text/javascript" src="/{{=this_app}}/static/custom/script.js"></script>
        <script src="http://www.google.com/jsapi?key=ABQIAAAAhDaHyndn3TRHW8aVVgNfsBTPFwiohxerrbIfi_L7lDZ1YENwhRROxgxsy_RTT4IRmc8SWIpWu3KrsQ" type="text/javascript"></script>
        <script type="text/javascript" src="/{{=this_app}}/static/components/google/search_init.js"></script>
            
    </head>

    <body {{if response.flash:}}onload="fade('flash',0.1);"{{pass}}>
        <div id="page">

            <div id="header">
                <div id="headerimg">
                    <h1>
                        <!-- <a href="/{{=request.application}}/default/index/"> -->
                        <a href="{{=URL(r=request,f='index')}}">
                            {{=response.name}}
                        </a>
                    </h1>
            
                    <div class="description">
                        {{=response.description}}
                    </div>
                </div>
            </div>
        
            <hr />

            <div id="content" class="narrowcolumn">
            
                {{if response.flash:}}
                    <div id="flash">{{=XML(response.flash)}}</div>
                {{pass}}
            
                {{include}}
        
            </div>

            <div id="sidebar">
                <div id="sidebar-content">
                  <!-- #sidebar menu deactivated. See cms theme foreventual reactivation -->
                  {{include "sidebars/%s.html"%(response.theme_sidebar)}}
                </div>
                <!-- end #sidebar-content -->
            </div>

            <hr />
            
            <div id="footer" style="height: 63px;">
                <p>
                    Powered by <a href="http://www.web2py.com">web2py</a> (TM) created by Massimo Di Pierro &copy; 2007, 2008
                    | {{=A(T('clear cache'), _href=URL(r=request, vars=dict(clear_cache=1)))}}
                    | {{=A(T('themes'), _href=URL(r=request, c='default', f='page', args=['themes']))}}
                </p>
            </div>
            
        </div>

    </body>
</html>
