{{extend 'themes/%s/layout.html' % response.theme}}
<style type="text/css">
    #jsonTree span.k-level {
        display: block;
        padding-left: 2%;
    }    
</style>
<script type="text/javascript" src="/{{=this_app}}/static/components/jquery/jquery.dump.js"></script>
<script type="text/javascript">
    /* Make object out of atom passed 
       @params
           obj : the object
           oKe : list:
				-	function to make and output key representation DOM element
				-	optional extra params dictionary
           oAe : list:
				-	function to make and output atom (string, number) representation DOM element
				-	optional extra params dictionary
           l : level, depth, within the object
           p : the path to the current element
           index : the index of the atom to add (eventual) items delimiter if >0
    */
    var walk = function(obj, oKe, oAe, l, index, p){
        if (l==null){ l=-1; }
        if (index==null){ index=0; }
        if (p==null){ p=[]; }

        var o = [];      
        if (typeof(obj) in {'number':'', 'string':''}){
			if (l+1<p.length){
				p.splice(l+1);
			}

            if (oAe){
                o.push(oAe[0](obj, l, index, p, 
						(oAe.length>1 ? oAe[1]: null)));
            }
            else{
                o.push(obj);
            }
        }
        else {
            l++;
			if($.isArray(obj)){
				for(i in obj){
					if(l in p){ p[l]=i; }
					else { p.push(i); }
					o.push(walk(obj[i], oKe, oAe, l, i, p));
				}
			}
			else if (typeof(obj) in {'object':''}){
				var i=0;
				for(k in obj){
					if(l in p){ p[l]=k; }
					else { p.push(k); }
                	o.push(oKe[0](k, l, i, p, 
							(oKe.length>1 ? oKe[1]: null)));
					o.push(walk(obj[k], oKe, oAe, l, i, p));
					i++;
				}
			}
		}
		
        return o;
    };

    /* Make object out of atom passed 
       @params
           a : atom (string, number)
           l : level, depth, within the object
           index : the index of the atom to add (eventual) items delimiter if >0
           p : the path to the element
           eps : extra parameters dictionary
           		- ['ebs'] : event bindings tuples list ([['jquery event bind name', function]])
    */
    var mAe = function(a, l, index, p, eps){
        var t=null;
        if(typeof(a)=='string' && a.length<50 | (typeof(a)=='number')){
            var t=document.createElement('input');
            t.type='text';
        }
        else if(typeof(a)=='string' && a.length>=50){
            var t=document.createElement('textarea');
        }
        
		if (p){
			t.id = p.join('#:#');
		}
        $(t).val(a);
        t.className='a-level '+l +' '+ 'a-index '+index;
		if (eps){
			for(k in eps){
				if(k=='ebs'){
					var ebs=eps[k];
					for(i in ebs){
						$(t).bind(ebs[i][0], ebs[i][1]);
					}
				}
			}
        }
        return t;
    };
    
    /* Make object out of key passed
       @params
           k : (dict)key object
           l : level, depth, within the object
           index : the index of the atom to add (eventual) items delimiter if >0
           p : the path to the element 
           eps : extra parameters 
           		- ['ebs'] : event bindings tuples list ([['jquery event bind name', function]])
    */
    var mKe = function(k, l, index, p, eps){
        var s=document.createElement('span');
        s.id = k+'-'+l+'-'+index;
		if (p){
			s.id = p.join('#:#');
		}
        $(s).html(k);
        s.className='k-level '+l +' '+ 'k-index '+index;
		if (eps){
			for(k in eps){
				if(k=='ebs'){
					var ebs=eps[k];
					for(i in ebs){
						$(s).bind(ebs[i][0], ebs[i][1]);
					}
				}
			}
        }
        return s;
    };
    
    
    /* Update json object 
		jquery event handling function
    */
    var ujsO = function(){
		var p = '["' + $(this)[0].id.split('#:#').join('"]["') +'"]';
		var q = '"';
		if(typeof(v)=='number'){ q=''; }
		var v = q+$(this).val()+q;
        eval('jsO'+p+'='+v);
        $('#entities_data').val($.dump(jsO));
	};

    /* Flush recursive list
       @params
           L : list
           ff : flush function
           RLf : Recursive List flush    
    */
    var fRL = function(o,RLf){
        if ($.isArray(o)){
            for(i in o){
                RLf.push(fRL(o[i],RLf));
            }
        }
        else{
            return o;
        }
    };
    
    /* Levels & Indexes display
       @params
           s : selector
    */
    var LId = function(s){
        $(s).children().each(function(){
            var m = $(this)[0].className.match(/level\s*(\-?\+?\d*)/);
            if(m){
                $(this).animate({marginLeft : '+='+Math.abs(parseInt(m[1]))*5+'%'});
            }
        });
    };
    
    var RLf = [];
    var jsO = {};
    $(document).ready(function(){
        var el = $('#entities_data');
        jsO = $.parseJSON(el.html());        
        var eL = walk(jsO, 
					[mKe, {}], 
					[mAe, {
						'ebs' : [['change', ujsO]]
					}]);
        fRL(eL, RLf);
		
		var jsonTree = document.createElement('div');
		jsonTree.id = 'jsonTree';
		jsonTree.className = 'width100pc';
        $('#entities_data').before(jsonTree);

        for(i in RLf){
            $('#jsonTree ').append(RLf[i]);
        }
        LId('#jsonTree');
    });
</script>

<h2>{{=edit_title}}</h2>

{{=form}}
{{if html:}}
    {{=html}}
{{pass}}


{{if form2:}}
    {{=form2_title}}
    {{=form2}}
{{pass}}

{{=form2_list_title}}
{{for f in form2_list:}}
    {{=f}}
    <div class="clear"></div>
{{pass}}

{{=form3_list_title}}
{{for f in form3_list:}}
    {{=f}}
    <div class="clear"></div>
{{pass}}

{{=A(T('markup textareas'), _href='javascript:markup_textareas();', _class='color-transparent')}}
